/*******************
google font added
********************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins',
    sans-serif;
}
/********* navigation part ***********/


header{
    background-color: #2D25A0;
    width: 1440px;
}
.navs-header{
    display: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1160px;
    height: 44px;
    padding: 42px 0 66px 156px;

}

.navs{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.nav{
    padding: 0 30px;
    font-size: 16px;
    
}
.nav a{
    color: white;
    text-decoration: none;
}

.login{
    width: 123px;
}

.button-nav{
    width: 123px;
    height: 44px;
    background-color: #E02C6D;
}

/********* banner part ***********/

.banner{
    background-color: #2D25A0;
    display: flex;
    Width: 1440px;
    Height: 677px;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    margin: 198px 108px 38px 204px ;
    width: 485px;
    height: 228px;

}
.banner-img img{
    width: 556.01px;
    height: 438px;
    margin: 153px 140.99px 86px 0;
}
.button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
}

.button-banner{
    margin: 38px 0 169px 156px;

}

.button-link{
    width: 88px;
    height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.button-link-span{
    margin: 0 8px;
}

/********banner part end*******/


/*******************
players content part
********************/

.players-display{
    width: 1440px;
    background-color: #FFFFFF;
}

.players-box{
    margin: 70px 210px 165px 180px ;
    
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
}

.player-details{
    padding: 15px 15px 15px 15px;
}

.player-details img{
    width: 300px;
    height: 256px;
}


/******** Match Contents Part *******/
.match{
    display: flex;
}

.match-info{
    margin: 224px 69px 0 180px;
}

.match img{
    width: 487px;
    height: 357px;
    margin: 165px 156px 0 69px;
}


/* *****footer part */
.footer-img img{
    width: 484px;
    height: 214px;
    margin: 100px 482px 0 400px;
}

.footer-icon{
    width: 172px;
    height: 32px;
    margin: 0 0 0 600px;
}

.footer-link{
    padding: 0 10px;
    color: gray;
}
.copyright{
    margin: 0 0 63px 570px;
}

/* ******mobile device***** */

@media only screen and (max-width: 688px){
    .container{
        width: 100%;

        /* ******header part */

    }
    header{
        display: none;
    }

    /* ******banner part**** */

    .banner:hover .banner-info{
        display: none;
    }

    .banner{
        display: flex;
        flex-direction: column;
    }
    .banner-title{
        width: 270px;
        height: 130px;
        font-size: 32px;
        margin: 112px 60px 0 16px;
    }

    .button-banner{
        margin: 30px 170px 0 20px ;
    }
    .banner-img img{
        width: 320px;
        height: 250px;
        margin: 50px 16px 60px 16px;
    }

    /* ********Players part******* */


    .players-box, .match-info{
        margin: 50px 15px 0 16px;
    }    
    .courses, .blogs, .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    .match{
        display: flex;
        flex-direction: column;
    }
    .match img{
        width: 300px;
        height: 250px;
        margin: 50px 15px 0 16px;
    }

    /* *******footer part******* */

    .footer-img img {
        width: 200px;
        height: 80px;
        margin: 10px 0 10px 55px;
    }

    .footer-icon {
        width: 172px;
        height: 32px;
        margin: 0 0 0 90px;
    }

    .footer-link {
        padding: 0 10px;
        color: gray;
    }

    .copyright {
        margin: 0 0 63px 70px;
    }
}